dist/
build/
__pycache__/
*.pyc
static/app.bundle.js
static/react.min.js
static/react-dom.min.js
*.spec.bak
node_modules/
.vscode/
assets/wizard_large.bmp
assets/wizard_small.bmp
*.duckdb
*.duckdb.wal
*.json
!package.json
